@model Aparteman.Pages.finance.VoucherModel
@using System.Data;
@using Aparteman.Services;
@{
    var RJ = 0;
}
@switch (@ViewData["Switch"])
{
    case "FormSabtCost":
        <section class="container p-1">
            <div class="secondArea">
                @if (@ViewData["ID"].ToString() == "0")
                {
                    <form asp-antiforgery="true" method="get" data-ajax-method="get" data-ajax="true"
                    data-ajax-confirm="آیا محاسبه تقسیم هزینه بین واحدها انجام گردد؟"
                    data-ajax-Btn="UpdateChargeItemBtn"
                    data-ajax-begin="MsgFormSpinner('B','سند تقسیم هزینه بین واحدها', 'چند لحظه صبر کنید');"
                    data-ajax-url="?handler=SanadSabtCost"
                    data-ajax-update="#MsgFormMATN_B">
                        <input type="hidden" name="ID" value="0" />


                        <div class="mb-3 w-100">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'مبلغ کامل هزینه را در این قسمت بنویسید.')">مبلغ هزینه <i class="icofont icofont-riyal"></i></label>
                            <input type="text" name="AmountCost" class="control-input ltr text-center w-fix-300" value="" onkeyup="AddComma(this)" />
                        </div>

                        <div class="mb-3 w-100">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'از لیست منوکشویی زیر آیتم هزینه را انتخاب کنید. اگر آیتم مورد نظر را پیدا نکردید. ابتدا بایستی در فرم مقادیر پایه آیتم هزینه و نحوه تقسیم آن تعریف شود')">آیتم هزینه</label>
                            <select class="control-input" name="ItemId" onchange="DissectionItem(this)">
                                <option value="0" data-Sharh="" data-Methode="" data-Payer="">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListItems.Rows)
                                {
                                    <option value="@item["ItemId"]" data-Sharh="@item["Sharh"]" data-Methode="@item["MethodTitle"]" data-Payer="@item["PayerTitle"]">@item["ItemTitle"]</option>
                                }
                            </select>
                            <div class="text-start">
                                <div>
                                    <span class="text-secondary font-14">روش تقسیم هزینه:</span> <span id="ItemMethod"></span>
                                </div>
                                <div>
                                    <span class="text-secondary font-14">پرداخت کننده: </span><span id="ItemPayer"></span>
                                </div>
                                <div>
                                    <span class="text-secondary font-14">شرح: </span><span id="ItemSharh"></span>
                                </div>
                            </div>
                        </div>

                        <div class="mb-3 w-100">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدهایی که این هزینه برای آنها انجام گرفته است را مشخص کنید. تقسیم هزینه فقط بین واحدهای مشمول هزینه انجام میشود')">واحدهای مشمول هزینه</label>
                            <select name="BuildingId" class="control-input" onchange="ClickBtnValue('ListFloorsBtn',this)">
                                <option value="0">همه واحدهای مجتمع</option>
                                @foreach (DataRow item in Model.ListBuilding.Rows)
                                {
                                    <option value="@item["BuildingId"]">@item["BuildingName"]</option>
                                }
                            </select>
                            <div id="AreaFloor" class="mt-1">
                                <input type="hidden" name="FloorId" value="0"/>
                            </div>

                            <div id="UnitSelected" class="pb-3">
                            </div>
                            <input type="hidden" id="UnitIds" name="UnitIds" value="0" />
                        </div>


                        <div class="mb-3">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شرح مناسبی در مورد این هزینه، بنویسید. این شرح کمک می کند که در آینده علت ایجاد و نحوه مدیریت آن را به یاد بیاورید')">شرح</label>
                            <textarea class="form-control text-center" rows="2" maxlength="300" name="Sharh"></textarea>
                        </div>

                        <hr />
                        <div class="text-end px-3">
                            <button type="submit" id="UpdateChargeItemBtn" class="btn_Icon Icon_Blue2 icofont-2x icofont-ui-calendar" title="تقسیم شارژ واحدها انجام شود"><span>محاسبه شارژ</span></button>
                        </div>

                    </form>
                }
            </div>
        </section>
        break;

    case "SanadSabtCost":
        <section class="container p-1">
            <div class="secondArea">

                <form asp-antiforgery="true" method="post" data-ajax-method="post" data-ajax="true"
                data-ajax-confirm="آیا صدور سند برای هزینه انجام گردد؟"
                data-ajax-Btn="SodureSanadCostBtn"
                data-ajax-begin="SpinnerShowForm('در حال صدور سند حسابداری. چند لحظه صبر کنید');"
                data-ajax-url="?handler=SodureSanadCost"
                data-ajax-complete="JsonClose_BA">
                    <input type="hidden" name="SecCode" value="@ViewData["SecCode"]" />
                    <div class="w-max-500 mx-auto">
                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'هزینه در تاریخ نوشته شده ثبت میشود.')"> تاریخ موثر سند </label>
                        <div class="d-flex flex-wrap">
                            <div class="control-Date w-fix-150">
                                <input id="DateAction" name="DateAction" maxlength="10" readonly class="usage control-input-plaintext" value="@ViewData["Today"]" />
                            </div>
                            <button type="submit" id="SodureSanadCostBtn" class="BTN btn_Pill btn_Brown"><span>سند حسابداری ثبت شود</span><i class="icofont-00x icofont-check"></i></button>
                        </div>
                    </div>

                    <div class="mb-2">
                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شرح مناسبی در مورد این هزینه، بنویسید. این شرح کمک می کند که در آینده علت ایجاد و نحوه مدیریت آن را به یاد بیاورید')">شرح</label>
                        <textarea class="form-control text-center" rows="2" maxlength="300" name="Sharh">@ViewData["Sharh"]</textarea>
                    </div>
                </form>
                <div class="d-flex flex-wrap justify-content-between">
                    <div class="Area_Count w-fix-200">
                        <span>تعداد : </span><span>@Model.ListData.Rows.Count </span>
                    </div>
                </div>

                <div class="header_Table">
                    <button type="button" class="btn_Icon footer_Right Icon_Red icofont-00x icofont-curved-double-right" title="اسکرول به راست" onclick="ScrollRight('@ViewData["Switch"]_FT');"></button>
                    <button type="button" class="btn_Icon footer_Left Icon_Red icofont-00x icofont-curved-double-left" title="اسکرول به چپ" onclick="ScrollLeft('@ViewData["Switch"]_FT');"></button>
                    <div id="@ViewData["Switch"]_FT" class="overflow-hidden" onscroll="ScrollSlave(this, '@ViewData["Switch"]_MS');">
                        <table class="table grid-table">
                            <thead>
                                <tr>
                                    <th><span>#</span></th>
                                    <th><span class="w-fix-200">حساب</span></th>
                                    <th><span class="w-fix-150">بستانکار</span></th>
                                    <th><span class="w-fix-150">بدهکار</span></th>
                                    <th><span class="w-fix-90">واحد</span></th>
                                    <th><span class="w-fix-150">طبقه</span></th>
                                    <th><span class="w-fix-200">ساختمان</span></th>
                                    <th><span class="w-fix-250">شرح</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="overflow-auto" id="@ViewData["Switch"]_MS" onscroll="ScrollSlave(this, '@ViewData["Switch"]_FT');">
                    <table class="table grid-table">
                        <thead class="header_Tablehiden">
                            <tr>
                                <th><span>#</span></th>
                                <th><span class="w-fix-200">حساب</span></th>
                                <th><span class="w-fix-150">بستانکار</span></th>
                                <th><span class="w-fix-150">بدهکار</span></th>
                                <th><span class="w-fix-90">واحد</span></th>
                                <th><span class="w-fix-150">طبقه</span></th>
                                <th><span class="w-fix-200">ساختمان</span></th>
                                <th><span class="w-fix-250">شرح</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.ListData.Rows)
                            {
                                { RJ++; }
                                <tr onclick="RowSelect(this);">
                                    <td class="text-danger">@RJ</td>
                                    <td><span class="w-fixC-200 text-start"><span>@item["AccountTitle"]</span><span class="text_line23">@item["AccountCode"]</span></span></td>
                                    <td><span class="w-fixC-150">@Html.Raw(@item["Bes"].ToMonySymbol())</span></td>
                                    <td><span class="w-fixC-150">@Html.Raw(@item["Bed"].ToMonySymbol())</span></td>
                                    <td><span class="w-fixC-90">@item["UnitNumber"]</span></td>
                                    <td><span class="w-fixC-200 text-start"><span>@item["FloorTitle"]</span><span class="text_line23">@item["FloorNumber"]</span></span></td>
                                    <td><span class="w-fixC-150 text-start"><span>@item["BuildingName"]</span><span class="text_line23">@item["BuildingCode"]</span></span></td>
                                    <td><span class="w-fixC-250">@item["Babat"]</span></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>
        <script>
            ControlPersianDate('DateAction');
        </script>

        break;

    case "RepListCost":
        <div class="d-flex flex-wrap justify-content-between">
            <div class="Area_Count w-fix-200">
                <span>تعداد : </span><span>@Model.ListData.Rows.Count </span>
            </div>
        </div>

        <div class="header_Table">
            <button type="button" class="btn_Icon footer_Right Icon_Red icofont-00x icofont-curved-double-right" title="اسکرول به راست" onclick="ScrollRight('@ViewData["Switch"]_FT');"></button>
            <button type="button" class="btn_Icon footer_Left Icon_Red icofont-00x icofont-curved-double-left" title="اسکرول به چپ" onclick="ScrollLeft('@ViewData["Switch"]_FT');"></button>
            <div id="@ViewData["Switch"]_FT" class="overflow-hidden" onscroll="ScrollSlave(this, '@ViewData["Switch"]_MS');">
                <table class="table grid-table">
                    <thead>
                        <tr>
                            <th><span>#</span></th>
                            <th><span class="w-fix-100">تاریخ</span></th>
                            <th><span class="w-fix-90">شماره سند</span></th>
                            <th><span class="w-fix-50">مشاهده</span></th>
                            <th><span class="w-fix-200">جمع بستانکار</span></th>
                            <th><span class="w-fix-200">جمع بدهکار</span></th>
                            <th><span class="w-fix-200">نوع هزینه</span></th>
                            <th><span class="w-fix-350">شرح</span></th>
                            <th><span class="w-fix-150">وضعیت</span></th>
                            <th><span class="w-fix-90">زمان ثبت</span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="overflow-auto" id="@ViewData["Switch"]_MS" onscroll="ScrollSlave(this, '@ViewData["Switch"]_FT');">
            <table class="table grid-table">
                <thead class="header_Tablehiden">
                    <tr>
                        <th><span>#</span></th>
                        <th><span class="w-fix-100">تاریخ</span></th>
                        <th><span class="w-fix-90">شماره سند</span></th>
                        <th><span class="w-fix-50">مشاهده</span></th>
                        <th><span class="w-fix-200">جمع بستانکار</span></th>
                        <th><span class="w-fix-200">جمع بدهکار</span></th>
                        <th><span class="w-fix-200">نوع هزینه</span></th>
                        <th><span class="w-fix-350">شرح</span></th>
                        <th><span class="w-fix-150">وضعیت</span></th>
                        <th><span class="w-fix-90">زمان ثبت</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in Model.ListData.Rows)
                    {
                        { RJ++; }
                        <tr onclick="RowSelect(this);">
                            <td class="text-danger">@RJ</td>
                            <td><span class="w-fixC-100">@item["EventDate"]</span></td>
                            <td><span class="w-fixC-90">@item["FinancialNum"]</span></td>
                            <td>
                                <button type="button" class="btn_Icon Icon_Mor icofont-2x icofont-search-2" title="ویرایش" onclick="ClickBtnSimpl('ListEventItemsBtn', '@item["FinancialEventId"]');"></button>
                            </td>
                            <td><span class="w-fixC-200">@Html.Raw(@item["Bes"].ToMonySymbol())</span></td>
                            <td><span class="w-fixC-200">@Html.Raw(@item["Bed"].ToMonySymbol())</span></td>
                            <td><span class="w-fixC-200">@item["TypeTitle"]</span></td>
                            <td><span class="w-fixC-350">@item["Sharh"]</span></td>
                            <td><span class="w-fixC-150">@item["SitTitle"]</span></td>

                            <td><span class="w-fixC-200 text-start"><span>@item["EditorName"]</span><span class="text_line23">@item["TimeEdit"]</span></span></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        break;





    case "FloorCost":
        if (ViewData["BuildingId"].ToString() != "0")
        {
            <select name="FloorId" class="control-input" onchange="ClickBtnValue('ListUnitsBtn',this)">
                @if (Model.ListFloor.Rows.Count == 0)
                {
                    <option value="">اطلاعات ساختمان ناقص است و طبقه ای برای آن تعریف نشده است</option>
                }
                else
                {
                    <option value="0">همه طبقات</option>

                    @foreach (DataRow item in Model.ListFloor.Rows)
                    {
                        <option value="@item["FloorId"]">@item["FloorNumber"] -> @item["FloorTitle"]</option>
                    }
                }
            </select>
        }
        <div id="AreaUnit" class="mt-1">
        </div>

        break;

    case "UnitCost":
        if (ViewData["FloorId"].ToString() != "0")
        {
            <select class="control-input" onchange="SelectItem(this, 'UnitIds','UnitSelected')">
                <option value="">انتخاب کنید</option>
                <option value="0" selected>همه واحدها</option>
                @foreach (DataRow item in Model.ListUnit.Rows)
                {
                    <option value="@item["UnitId"]">@item["UnitNumber"]</option>
                }
            </select>
        }

        break;

    case "EventItems":
        <section class="container p-1">
            <div class="secondArea">
                <div class="reportfilter w-max-700 mx-auto m-2 p-2">
                    <div class="row">
                        <div class="col-6 col-sm-3">
                            <span class="control-label">تاریخ</span>
                            <span class="control-text">@Model.RowData["EventDate"]</span>
                        </div>
                        <div class="col-6 col-sm-3">
                            <span class="control-label">شماره</span>
                            <span class="control-text">@Model.RowData["FinancialNum"]</span>
                        </div>
                        <div class="col-6 col-sm-3">
                            <span class="control-label">نوع سند</span>
                            <span class="control-text">@Model.RowData["TypeTitle"]</span>
                        </div>
                        <div class="col-6 col-sm-3">
                            <span class="control-label">وضعیت</span>
                            <span class="control-text">@Model.RowData["SitTitle"]</span>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-6">
                            <span class="control-label">جمع بدهکار</span>
                            <span class="control-text">@Html.Raw(@Model.RowData["Bed"].ToMonySymbol())</span>
                        </div>
                        <div class="col-6">
                            <span class="control-label">جمع بستانکار</span>
                            <span class="control-text">@Html.Raw(@Model.RowData["Bes"].ToMonySymbol())</span>
                        </div>
                    </div>
                    <div class="p-2">
                        <span class="control-text">@Model.RowData["Sharh"]</span>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <span class="control-text">@Model.RowData["EditorName"]</span>
                        </div>
                        <div class="col-6">
                            <span class="control-text">@Model.RowData["TimeEdit"]</span>
                        </div>
                    </div>

                </div>



                <div class="d-flex flex-wrap justify-content-between">
                    <div class="Area_Count w-fix-200">
                        <span>تعداد : </span><span>@Model.ListData.Rows.Count </span>
                    </div>
                </div>

                <div class="header_Table">
                    <button type="button" class="btn_Icon footer_Right Icon_Red icofont-00x icofont-curved-double-right" title="اسکرول به راست" onclick="ScrollRight('@ViewData["Switch"]_FT');"></button>
                    <button type="button" class="btn_Icon footer_Left Icon_Red icofont-00x icofont-curved-double-left" title="اسکرول به چپ" onclick="ScrollLeft('@ViewData["Switch"]_FT');"></button>
                    <div id="@ViewData["Switch"]_FT" class="overflow-hidden" onscroll="ScrollSlave(this, '@ViewData["Switch"]_MS');">
                        <table class="table grid-table">
                            <thead>
                                <tr>
                                    <th><span>#</span></th>
                                    <th><span class="w-fix-200">حساب</span></th>
                                    <th><span class="w-fix-150">بستانکار</span></th>
                                    <th><span class="w-fix-150">بدهکار</span></th>
                                    <th><span class="w-fix-200">تفصیلی</span></th>
                                    <th><span class="w-fix-250">شرح</span></th>
                                </tr>
                            </thead>
                        </table>
                    </div>
                </div>
                <div class="overflow-auto" id="@ViewData["Switch"]_MS" onscroll="ScrollSlave(this, '@ViewData["Switch"]_FT');">
                    <table class="table grid-table">
                        <thead class="header_Tablehiden">
                            <tr>
                                <th><span>#</span></th>
                                <th><span class="w-fix-200">حساب</span></th>
                                <th><span class="w-fix-150">بستانکار</span></th>
                                <th><span class="w-fix-150">بدهکار</span></th>
                                <th><span class="w-fix-200">تفصیلی</span></th>
                                <th><span class="w-fix-250">شرح</span></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (DataRow item in Model.ListData.Rows)
                            {
                                { RJ++; }
                                <tr onclick="RowSelect(this);">
                                    <td class="text-danger">@RJ</td>
                                    <td><span class="w-fixC-200 text-start"><span>@item["AccountTitle"]</span><span class="text_line23">@item["AccountCode"]</span></span></td>
                                    <td><span class="w-fixC-150">@Html.Raw(@item["Bes"].ToMonySymbol())</span></td>
                                    <td><span class="w-fixC-150">@Html.Raw(@item["Bed"].ToMonySymbol())</span></td>
                                    <td><span class="w-fixC-200">@item["DetailFullName"]</span></td>
                                    <td><span class="w-fixC-250">@item["Babat"]</span></td>
                                </tr>
                            }

                        </tbody>
                    </table>
                </div>
            </div>
        </section>

        break;

    case "ListTafzili":
        if (ViewData["Rep"].ToString() == "Rep")
        {
            <option value="0">همه حسابها</option>
        }
        else
        {
            <option value="0">انتخاب کنید</option>
        }
        if (ViewData["DetailCode"].ToString() == "1")
        {
            @foreach (DataRow item in Model.ListData.Rows)
            {
                <option value="@item["PersonId"]">@item["FullName"] -> @item["Mobile"]</option>
            }
        }
        if (ViewData["DetailCode"].ToString() == "2")
        {
            @foreach (DataRow item in Model.ListData.Rows)
            {
                <option value="@item["UnitId"]">@item["UnitNumber"] -> @item["FloorTitle"] -> @item["BuildingName"]</option>
            }
        }
        break;




    case "FormSabtDaryaft":
        <section class="container p-1">
            <div class="secondArea">
                @if (@ViewData["ID"].ToString() == "0")
                {
                    <form asp-antiforgery="true" method="post" data-ajax-method="post" data-ajax="true"
                    data-ajax-confirm="آیا سند دریافت ثبت گردد؟"
                    data-ajax-Btn="UpdateDaryaftBtn"
                    data-ajax-begin="SpinnerShowForm('سند دریافت', 'چند لحظه صبر کنید');"
                    data-ajax-url="?handler=UpdateDaryaft"
                    data-ajax-complete="JsonClose_A">
                        <input type="hidden" name="ID" value="0" />

                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ را در چه تاریخی دریافت کردید؟ یک سند با همین تاریخ ایجاد خواهد شد.')"> در تاریخ  </label>
                                <div class="control-Date w-fix-150">
                                    <input id="DateAction" name="DateAction" maxlength="10" readonly class="usage control-input-plaintext" value="@ViewData["Today"]" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'مبلغ کامل دریافتی را در این قسمت بنویسید.')">مبلغ <i class="icofont icofont-riyal"></i></label>
                                <input type="text" name="Amount" class="control-input ltr text-center" value="" onkeyup="AddComma(this)" />
                            </div>
                        </div>

                        <div class="py-1">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ براساس کدام حساب دریافت می شود؟ حساب را از لیست منوکشویی زیر انتخاب کنید')"> بابت حساب </label>
                            <select class="control-input" name="AccountBes" onchange="ShowTafzili(this,'Bes')">
                                <option value="0" data-Detail="4">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListAccount.Rows)
                                {
                                    @if (@item["AccountTypeCode"].ToString() == "3")
                                    {
                                        <option value="@item["AccountId"]" data-Detail="@item["DetailCode"]">@item["AccountCode"] -> @item["AccountTitle"]</option>
                                    }
                                }
                            </select>
                            <div id="tafziliBesArea" class="dis-none">
                                <div id="tafziliBes_1" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                </div>
                                <div id="tafziliBes_2" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                </div>
                                <div id="tafziliBes_3" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                </div>
                                <div class="d-flex">
                                    <input type="text" Id="filterTafziliBes" class="control-input text-center" value="" />
                                    <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBesBtn','filterTafziliBes')"></button>
                                </div>
                                <select class="control-input" id="ListFindTafziliBes" name="TafziliBes">
                                    <option value="0">در محدوده بالا جستجو کنید</option>
                                </select>

                            </div>
                        </div>

                        <div class="py-2">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ به کدام حساب مجتمع واریز شده است؟ اگر مبلغ را نقدی دریافت کرده اید، از لیست منوکشویی زیر صندوق را انتخاب کنید.')">دریافت و به حساب</label>
                            <select class="control-input" name="AccountBed" onchange="ShowTafzili(this,'Bed')">
                                <option value="0" data-Detail="4">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListAccount.Rows)
                                {
                                    @if (@item["AccountTypeCode"].ToString() == "1")
                                    {
                                        <option value="@item["AccountId"]" data-Detail="@item["DetailCode"]">@item["AccountCode"] -> @item["AccountTitle"]</option>
                                    }
                                }
                            </select>
                            <div id="tafziliBedArea" class="dis-none">
                                <div id="tafziliBed_1" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')"> شخص</label>
                                </div>
                                <div id="tafziliBed_2" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')"> واحد</label>
                                </div>
                                <div id="tafziliBed_3" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')"> قرارداد</label>
                                </div>
                                <div class="d-flex">
                                    <input type="text" Id="filterTafziliBed" class="control-input text-center" value="" />
                                    <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBedBtn','filterTafziliBed')"></button>
                                </div>
                                <select class="control-input" id="ListFindTafziliBed" name="TafziliBed">
                                    <option value="0">در محدوده بالا جستجو کنید</option>
                                </select>
                            </div>
                            <div class="text-end p-2">
                                <span>واریز شد</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شرح مناسبی در مورد این دریافت، بنویسید. این شرح کمک می کند که در آینده علت دریافت و نحوه مدیریت آن را به یاد بیاورید')">شرح</label>
                            <textarea class="form-control text-center" rows="2" maxlength="300" name="Sharh"></textarea>
                        </div class="mb-3">
                        <div>
                            <div class="d-flex">
                                <button type="button" id="FileKnd"
                                        class="btn_Icon Icon_MorLight icofont-3x icofont-upload mx-2"
                                        onclick="ClickBtn('FileUpload');"
                                        title="انتخاب فایل"></button>
                                <div class="flex-fill pt-4">
                                    <input class="d-none" type="file" id="FileUpload" name="FileUpload"
                                           accept=".jpg,.png,.bmp,.jpeg,.pdf,.txt,.xls,.xlsx,.doc,.docx,.zip,.rar"
                                           onchange="GetFile(this,'FileName','FileKnd');" />
                                    <span id="FileName" class="control-text">فایل را پیوست کنید</span>
                                </div>
                            </div>

                        </div>
                        <hr />
                        <div class="text-end px-3">
                            <button type="submit" id="UpdateDaryaftBtn" class="BTN btn_Pill btn_Blue2" title="دریافت مبلغ ثبت شود"><span>دریافت مبلغ ثبت شود</span><i class=" icofont-00x icofont-check"></i></button>
                        </div>

                    </form>
                }
                else{
                    <form asp-antiforgery="true" method="post" data-ajax-method="post" data-ajax="true"
                    data-ajax-confirm="آیا سند دریافت اصلاح گردد؟"
                    data-ajax-Btn="UpdateDaryaftBtn"
                    data-ajax-begin="SpinnerShowForm('سند دریافت', 'چند لحظه صبر کنید');"
                    data-ajax-url="?handler=UpdateDaryaft"
                    data-ajax-complete="JsonClose_A">
                        <input type="hidden" name="ID" value="@ViewData["ID"]" />

                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ را در چه تاریخی دریافت کردید؟ یک سند با همین تاریخ ایجاد خواهد شد.')"> در تاریخ  </label>
                                <div class="control-Date w-fix-150">
                                    <input id="DateAction" name="DateAction" maxlength="10" readonly class="usage control-input-plaintext" value="@Model.RowData["DateAction"]" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'مبلغ کامل دریافتی را در این قسمت بنویسید.')">مبلغ <i class="icofont icofont-riyal"></i></label>
                                <input type="text" name="Amount" class="control-input ltr text-center" value="@Model.RowData["Amount"].ToComma()" onkeyup="AddComma(this)" />
                            </div>
                        </div>

                        <div class="py-1">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ براساس کدام حساب دریافت می شود؟ حساب را از لیست منوکشویی زیر انتخاب کنید')"> بابت حساب </label>
                            <select class="control-input" id="Update_AccountBes" name="AccountBes" onchange="ShowTafzili(this,'Bes')">
                                <option value="0" data-Detail="4">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListAccount.Rows)
                                {
                                    @if (@item["AccountTypeCode"].ToString() == "3")
                                    {
                                        <option value="@item["AccountId"]" data-Detail="@item["DetailCode"]">@item["AccountCode"] -> @item["AccountTitle"]</option>
                                    }
                                }
                            </select>
                            @if (Model.RowData["DetailCodeBes"].ToString() == "4") {
                                <div id="tafziliBesArea" class="dis-none">
                                    <div id="tafziliBes_1" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                    </div>
                                    <div id="tafziliBes_2" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                    </div>
                                    <div id="tafziliBes_3" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                    </div>
                                    <div class="d-flex">
                                        <input type="text" Id="filterTafziliBes" class="control-input text-center" value="" />
                                        <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBesBtn','filterTafziliBes')"></button>
                                    </div>
                                    <select class="control-input" id="ListFindTafziliBes" name="TafziliBes">
                                        <option value="0">در محدوده بالا جستجو کنید</option>
                                    </select>

                                </div>
                            }
                            else {
                                <div id="tafziliBesArea" class="">
                                    @if (Model.RowData["DetailCodeBes"].ToString() == "1")
                                    {
                                        <div id="tafziliBes_1" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                        </div>
                                    }
                                    else{
                                        <div id="tafziliBes_1" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                        </div>
                                    }
                                    @if (Model.RowData["DetailCodeBes"].ToString() == "2")
                                    {
                                        <div id="tafziliBes_2" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBes_2" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                        </div>
                                    }
                                    @if (Model.RowData["DetailCodeBes"].ToString() == "3")
                                    {
                                        <div id="tafziliBes_3" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBes_3" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                        </div>
                                    }
                                    <div class="d-flex">
                                        <input type="text" Id="filterTafziliBes" class="control-input text-center" value="" />
                                        <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBesBtn','filterTafziliBes')"></button>
                                    </div>
                                    <select class="control-input" id="ListFindTafziliBes" name="TafziliBes">
                                        <option value="@Model.RowData["TafziliBes"]">@Model.RowData["TafziliBesName"]</option>
                                    </select>

                                </div>
                            }
                        </div>

                        <div class="py-2">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ به کدام حساب مجتمع واریز شده است؟ اگر مبلغ را نقدی دریافت کرده اید، از لیست منوکشویی زیر صندوق را انتخاب کنید.')">دریافت و به حساب</label>
                            <select class="control-input" id="Update_AccountBed" name="AccountBed" onchange="ShowTafzili(this,'Bed')">
                                <option value="0" data-Detail="4">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListAccount.Rows)
                                {
                                    @if (@item["AccountTypeCode"].ToString() == "1")
                                    {
                                        <option value="@item["AccountId"]" data-Detail="@item["DetailCode"]">@item["AccountCode"] -> @item["AccountTitle"]</option>
                                    }
                                }
                            </select>
                            @if (Model.RowData["DetailCodeBed"].ToString() == "4")
                            {
                                <div id="tafziliBedArea" class="dis-none">
                                    <div id="tafziliBed_1" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                    </div>
                                    <div id="tafziliBed_2" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                    </div>
                                    <div id="tafziliBed_3" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                    </div>
                                    <div class="d-flex">
                                        <input type="text" Id="filterTafziliBed" class="control-input text-center" value="" />
                                        <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBedBtn','filterTafziliBed')"></button>
                                    </div>
                                    <select class="control-input" id="ListFindTafziliBed" name="TafziliBed">
                                        <option value="0">در محدوده بالا جستجو کنید</option>
                                    </select>

                                </div>
                            }
                            else
                            {
                                <div id="tafziliBedArea" class="">
                                    @if (Model.RowData["DetailCodeBed"].ToString() == "1")
                                    {
                                        <div id="tafziliBed_1" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBed_1" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                        </div>
                                    }
                                    @if (Model.RowData["DetailCodeBed"].ToString() == "2")
                                    {
                                        <div id="tafziliBed_2" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBed_2" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                        </div>
                                    }
                                    @if (Model.RowData["DetailCodeBed"].ToString() == "3")
                                    {
                                        <div id="tafziliBed_3" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBed_3" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را دریافت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                        </div>
                                    }
                                    <div class="d-flex">
                                        <input type="text" Id="filterTafziliBed" class="control-input text-center" value="" />
                                        <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBedBtn','filterTafziliBed')"></button>
                                    </div>
                                    <select class="control-input" id="ListFindTafziliBed" name="TafziliBed">
                                        <option value="@Model.RowData["TafziliBed"]">@Model.RowData["TafziliBedName"]</option>
                                    </select>

                                </div>
                            }
                            <div class="text-end p-2">
                                <span>واریز شد</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شرح مناسبی در مورد این دریافت، بنویسید. این شرح کمک می کند که در آینده علت دریافت و نحوه مدیریت آن را به یاد بیاورید')">شرح</label>
                            <textarea class="form-control text-center" rows="2" maxlength="300" name="Sharh">@Model.RowData["Sharh"]</textarea>
                        </div>

                        <hr />
                        <div class="text-end px-3">
                            <button type="submit" id="UpdateDaryaftBtn" class="BTN btn_Pill btn_Blue2" title="اصلاح دریافت مبلغ ثبت شود"><span>اصلاح دریافت مبلغ ثبت شود</span><i class=" icofont-00x icofont-check"></i></button>
                        </div>

                    </form>
                    <script>
                        SetValueSimpl('Update_AccountBed','@Model.RowData["AccountBed"]','Update_AccountBes','@Model.RowData["AccountBes"]');
                    </script>

                }
            </div>
        </section>
        <script>
            ControlPersianDate('DateAction');
        </script>

        break;

    case "RepListDaryaft":
        <div class="d-flex flex-wrap justify-content-between">
            <div class="Area_Count w-fix-200">
                <span>تعداد : </span><span>@Model.ListData.Rows.Count </span>
            </div>
        </div>

        <div class="header_Table">
            <button type="button" class="btn_Icon footer_Right Icon_Red icofont-00x icofont-curved-double-right" title="اسکرول به راست" onclick="ScrollRight('@ViewData["Switch"]_FT');"></button>
            <button type="button" class="btn_Icon footer_Left Icon_Red icofont-00x icofont-curved-double-left" title="اسکرول به چپ" onclick="ScrollLeft('@ViewData["Switch"]_FT');"></button>
            <div id="@ViewData["Switch"]_FT" class="overflow-hidden" onscroll="ScrollSlave(this, '@ViewData["Switch"]_MS');">
                <table class="table grid-table">
                    <thead>
                        <tr>
                            <th><span>#</span></th>
                            <th><span class="w-fix-100">تاریخ</span></th>
                            <th><span class="w-fix-90">شماره سند</span></th>
                            <th><span class="w-fix-50">مشاهده</span></th>
                            <th><span class="w-fix-50">ویرایش</span></th>
                            <th><span class="w-fix-200">جمع بستانکار</span></th>
                            <th><span class="w-fix-200">جمع بدهکار</span></th>
                            <th><span class="w-fix-350">شرح</span></th>
                            <th><span class="w-fix-150">وضعیت</span></th>
                            <th><span class="w-fix-200">زمان ثبت</span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="overflow-auto" id="@ViewData["Switch"]_MS" onscroll="ScrollSlave(this, '@ViewData["Switch"]_FT');">
            <table class="table grid-table">
                <thead class="header_Tablehiden">
                    <tr>
                        <th><span>#</span></th>
                        <th><span class="w-fix-100">تاریخ</span></th>
                        <th><span class="w-fix-90">شماره سند</span></th>
                        <th><span class="w-fix-50">مشاهده</span></th>
                        <th><span class="w-fix-50">ویرایش</span></th>
                        <th><span class="w-fix-200">جمع بستانکار</span></th>
                        <th><span class="w-fix-200">جمع بدهکار</span></th>
                        <th><span class="w-fix-350">شرح</span></th>
                        <th><span class="w-fix-150">وضعیت</span></th>
                        <th><span class="w-fix-200">زمان ثبت</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in Model.ListData.Rows)
                    {
                        { RJ++; }
                        <tr onclick="RowSelect(this);">
                            <td class="text-danger">@RJ</td>
                            <td><span class="w-fixC-100">@item["EventDate"]</span></td>
                            <td><span class="w-fixC-90">@item["FinancialNum"]</span></td>
                            <td>
                                <button type="button" class="btn_Icon Icon_Mor icofont-2x icofont-search-2" title="مشاهده" onclick="ClickBtnSimpl('ListEventItemsBtn', '@item["FinancialEventId"]');"></button>
                            </td>
                            <td>
                                <button type="button" class="btn_Icon Icon_Mor icofont-2x icofont-edit" title="ویرایش" onclick="ClickBtnSimpl('FormSabttDaryaftBtn', '@item["FinancialEventId"]');"></button>
                            </td>
                            <td><span class="w-fixC-200">@Html.Raw(@item["Bes"].ToMonySymbol())</span></td>
                            <td><span class="w-fixC-200">@Html.Raw(@item["Bed"].ToMonySymbol())</span></td>
                            <td><span class="w-fixC-350">@item["Sharh"]</span></td>
                            <td><span class="w-fixC-150">@item["SitTitle"]</span></td>

                            <td><span class="w-fixC-200 text-start"><span>@item["EditorName"]</span><span class="text_line23">@item["TimeEdit"]</span></span></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        break;



    case "FormSabtPardakht":
        <section class="container p-1">
            <div class="secondArea">
                @if (@ViewData["ID"].ToString() == "0")
                {
                    <form asp-antiforgery="true" method="post" data-ajax-method="post" data-ajax="true"
                          data-ajax-confirm="آیا سند پرداخت ثبت گردد؟"
                          data-ajax-Btn="UpdatePardakhtBtn"
                          data-ajax-begin="SpinnerShowForm('سند پرداخت', 'چند لحظه صبر کنید');"
                          data-ajax-url="?handler=UpdatePardakht"
                          data-ajax-complete="JsonClose_A">
                        <input type="hidden" name="ID" value="0" />

                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ را در چه تاریخی پرداخت کردید؟ یک سند با همین تاریخ ایجاد خواهد شد.')"> در تاریخ  </label>
                                <div class="control-Date w-fix-150">
                                    <input id="DateAction" name="DateAction" maxlength="10" readonly class="usage control-input-plaintext" value="@ViewData["Today"]" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'مبلغ کامل پرداختی را در این قسمت بنویسید.')">مبلغ <i class="icofont icofont-riyal"></i></label>
                                <input type="text" name="Amount" class="control-input ltr text-center" value="" onkeyup="AddComma(this)" />
                            </div>
                        </div>

                        <div class="py-1">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ برای کدام حساب پرداخت می شود؟ حساب را از لیست منوکشویی زیر انتخاب کنید')"> بابت حساب </label>
                            <select class="control-input" name="AccountBed" onchange="ShowTafzili(this,'Bed')">
                                <option value="0" data-Detail="4">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListAccount.Rows)
                                {
                                    @if (@item["AccountTypeCode"].ToString() == "4")
                                    {
                                        <option value="@item["AccountId"]" data-Detail="@item["DetailCode"]">@item["AccountCode"] -> @item["AccountTitle"]</option>
                                    }
                                }
                            </select>
                            <div id="tafziliBedArea" class="dis-none">
                                <div id="tafziliBed_1" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که این مبلغ را به او پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">به شخص</label>
                                </div>
                                <div id="tafziliBed_2" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که این مبلغ را به او پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">به واحد</label>
                                </div>
                                <div id="tafziliBed_3" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">به قرارداد</label>
                                </div>
                                <div class="d-flex">
                                    <input type="text" Id="filterTafziliBed" class="control-input text-center" value="" />
                                    <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBedBtn','filterTafziliBed')"></button>
                                </div>
                                <select class="control-input" id="ListFindTafziliBed" name="TafziliBed">
                                    <option value="0">در محدوده بالا جستجو کنید</option>
                                </select>

                            </div>
                        </div>

                        <div class="py-2">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ از کدام حساب مجتمع پرداخت شده است؟ اگر مبلغ را نقدی پرداخت کرده اید، از لیست منوکشویی زیر صندوق را انتخاب کنید.')">از حساب</label>
                            <select class="control-input" name="AccountBes" onchange="ShowTafzili(this,'Bes')">
                                <option value="0" data-Detail="4">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListAccount.Rows)
                                {
                                    @if (@item["AccountTypeCode"].ToString() == "1")
                                    {
                                        <option value="@item["AccountId"]" data-Detail="@item["DetailCode"]">@item["AccountCode"] -> @item["AccountTitle"]</option>
                                    }
                                }
                            </select>
                            <div id="tafziliBesArea" class="dis-none">
                                <div id="tafziliBes_1" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که این مبلغ را به او پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')"> شخص</label>
                                </div>
                                <div id="tafziliBes_2" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که این مبلغ را به او پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')"> واحد</label>
                                </div>
                                <div id="tafziliBes_3" class="dis-none">
                                    <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')"> قرارداد</label>
                                </div>
                                <div class="d-flex">
                                    <input type="text" Id="filterTafziliBes" class="control-input text-center" value="" />
                                    <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBesBtn','filterTafziliBes')"></button>
                                </div>
                                <select class="control-input" id="ListFindTafziliBes" name="TafziliBes">
                                    <option value="0">در محدوده بالا جستجو کنید</option>
                                </select>
                            </div>
                            <div class="text-end p-2">
                                <span>پرداخت شد</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شرح مناسبی در مورد این پرداخت، بنویسید. این شرح کمک می کند که در آینده علت پرداخت و نحوه مدیریت آن را به یاد بیاورید')">شرح</label>
                            <textarea class="form-control text-center" rows="2" maxlength="300" name="Sharh"></textarea>
                        </div>

                        <hr />
                        <div class="text-end px-3">
                            <button type="submit" id="UpdatePardakhtBtn" class="BTN btn_Pill btn_Blue2" title="پرداخت مبلغ ثبت شود"><span>پرداخت مبلغ ثبت شود</span><i class=" icofont-00x icofont-check"></i></button>
                        </div>

                    </form>
                }
                else
                {
                    <form asp-antiforgery="true" method="post" data-ajax-method="post" data-ajax="true"
                          data-ajax-confirm="آیا سند پرداخت اصلاح گردد؟"
                          data-ajax-Btn="UpdatePardakhtBtn"
                          data-ajax-begin="SpinnerShowForm('سند پرداخت', 'چند لحظه صبر کنید');"
                          data-ajax-url="?handler=UpdatePardakht"
                          data-ajax-complete="JsonClose_A">
                        <input type="hidden" name="ID" value="@ViewData["ID"]" />

                        <div class="row">
                            <div class="col-12 col-sm-6">
                                <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ را در چه تاریخی پرداخت کردید؟ یک سند با همین تاریخ ایجاد خواهد شد.')"> در تاریخ  </label>
                                <div class="control-Date w-fix-150">
                                    <input id="DateAction" name="DateAction" maxlength="10" readonly class="usage control-input-plaintext" value="@Model.RowData["DateAction"]" />
                                </div>
                            </div>
                            <div class="col-12 col-sm-6">
                                <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'مبلغ کامل پرداختی را در این قسمت بنویسید.')">مبلغ <i class="icofont icofont-riyal"></i></label>
                                <input type="text" name="Amount" class="control-input ltr text-center" value="@Model.RowData["Amount"].ToComma()" onkeyup="AddComma(this)" />
                            </div>
                        </div>

                        <div class="py-1">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ براساس کدام حساب پرداخت می شود؟ حساب را از لیست منوکشویی زیر انتخاب کنید')"> بابت حساب </label>
                            <select class="control-input" id="Update_AccountBed" name="AccountBes" onchange="ShowTafzili(this,'Bed')">
                                <option value="0" data-Detail="4">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListAccount.Rows)
                                {
                                    @if (@item["AccountTypeCode"].ToString() == "3")
                                    {
                                        <option value="@item["AccountId"]" data-Detail="@item["DetailCode"]">@item["AccountCode"] -> @item["AccountTitle"]</option>
                                    }
                                }
                            </select>
                            @if (Model.RowData["DetailCodeBes"].ToString() == "4")
                            {
                                <div id="tafziliBedArea" class="dis-none">
                                    <div id="tafziliBed_1" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                    </div>
                                    <div id="tafziliBed_2" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                    </div>
                                    <div id="tafziliBed_3" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                    </div>
                                    <div class="d-flex">
                                        <input type="text" Id="filterTafziliBed" class="control-input text-center" value="" />
                                        <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBedBtn','filterTafziliBed')"></button>
                                    </div>
                                    <select class="control-input" id="ListFindTafziliBed" name="TafziliBed">
                                        <option value="0">در محدوده بالا جستجو کنید</option>
                                    </select>

                                </div>
                            }
                            else
                            {
                                <div id="tafziliBedArea" class="">
                                    @if (Model.RowData["DetailCodeBed"].ToString() == "1")
                                    {
                                        <div id="tafziliBed_1" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBed_1" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                        </div>
                                    }
                                    @if (Model.RowData["DetailCodeBed"].ToString() == "2")
                                    {
                                        <div id="tafziliBed_2" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBed_2" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                        </div>
                                    }
                                    @if (Model.RowData["DetailCodeBed"].ToString() == "3")
                                    {
                                        <div id="tafziliBed_3" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBed_3" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                        </div>
                                    }
                                    <div class="d-flex">
                                        <input type="text" Id="filterTafziliBed" class="control-input text-center" value="" />
                                        <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBedBtn','filterTafziliBed')"></button>
                                    </div>
                                    <select class="control-input" id="ListFindTafziliBed" name="TafziliBed">
                                        <option value="@Model.RowData["TafziliBes"]">@Model.RowData["TafziliBesName"]</option>
                                    </select>

                                </div>
                            }
                        </div>

                        <div class="py-2">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'این مبلغ به کدام حساب مجتمع واریز شده است؟ اگر مبلغ را نقدی پرداخت کرده اید، از لیست منوکشویی زیر صندوق را انتخاب کنید.')">پرداخت و به حساب</label>
                            <select class="control-input" id="Update_AccountBes" name="AccountBed" onchange="ShowTafzili(this,'Bes')">
                                <option value="0" data-Detail="4">انتخاب کنید</option>
                                @foreach (DataRow item in Model.ListAccount.Rows)
                                {
                                    @if (@item["AccountTypeCode"].ToString() == "1")
                                    {
                                        <option value="@item["AccountId"]" data-Detail="@item["DetailCode"]">@item["AccountCode"] -> @item["AccountTitle"]</option>
                                    }
                                }
                            </select>
                            @if (Model.RowData["DetailCodeBes"].ToString() == "4")
                            {
                                <div id="tafziliBesArea" class="dis-none">
                                    <div id="tafziliBes_1" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                    </div>
                                    <div id="tafziliBes_2" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                    </div>
                                    <div id="tafziliBes_3" class="dis-none">
                                        <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                    </div>
                                    <div class="d-flex">
                                        <input type="text" Id="filterTafziliBes" class="control-input text-center" value="" />
                                        <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBesBtn','filterTafziliBes')"></button>
                                    </div>
                                    <select class="control-input" id="ListFindTafziliBes" name="TafziliBes">
                                        <option value="0">در محدوده بالا جستجو کنید</option>
                                    </select>

                                </div>
                            }
                            else
                            {
                                <div id="tafziliBesArea" class="">
                                    @if (Model.RowData["DetailCodeBes"].ToString() == "1")
                                    {
                                        <div id="tafziliBes_1" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBes_1" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شخصی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با یلتر گذاری در زیر منوکشی اشخاص را پر کنید. سپس از منو کشویی شخص مورد نظر را انتخاب کنید .')">از شخص</label>
                                        </div>
                                    }
                                    @if (Model.RowData["DetailCodeBes"].ToString() == "2")
                                    {
                                        <div id="tafziliBes_2" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBes_2" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'واحدی که از او این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی واحدها را پر کنید. سپس از منو کشویی واحد مورد نظر را انتخاب کنید .')">از واحد</label>
                                        </div>
                                    }
                                    @if (Model.RowData["DetailCodeBes"].ToString() == "3")
                                    {
                                        <div id="tafziliBes_3" class="">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                        </div>
                                    }
                                    else
                                    {
                                        <div id="tafziliBes_3" class="dis-none">
                                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'قرادادی که طبق آن این مبلغ را پرداخت کرده اید انتخاب کنید. برای اینکار ابتدا با فیلتر گذاری در زیر منوکشی قراردادها را پر کنید. سپس از منو کشویی قرارداد مورد نظر را انتخاب کنید .')">از قرارداد</label>
                                        </div>
                                    }
                                    <div class="d-flex">
                                        <input type="text" Id="filterTafziliBes" class="control-input text-center" value="" />
                                        <button type="button" class="btn_Icon Icon_Blue icofont-2x icofont-search" onclick="ClickBtnValue('ListFindTafziliBesBtn','filterTafziliBes')"></button>
                                    </div>
                                    <select class="control-input" id="ListFindTafziliBes" name="TafziliBes">
                                        <option value="@Model.RowData["TafziliBed"]">@Model.RowData["TafziliBedName"]</option>
                                    </select>

                                </div>
                            }
                            <div class="text-end p-2">
                                <span>واریز شد</span>
                            </div>
                        </div>

                        <div class="mb-3">
                            <label class="control-label cursor-pointer" onclick="ShowFastHelp(this,'شرح مناسبی در مورد این پرداخت، بنویسید. این شرح کمک می کند که در آینده علت پرداخت و نحوه مدیریت آن را به یاد بیاورید')">شرح</label>
                            <textarea class="form-control text-center" rows="2" maxlength="300" name="Sharh">@Model.RowData["Sharh"]</textarea>
                        </div>

                        <hr />
                        <div class="text-end px-3">
                            <button type="submit" id="UpdatePardakhtBtn" class="BTN btn_Pill btn_Blue2" title="اصلاح پرداخت مبلغ ثبت شود"><span>اصلاح پرداخت مبلغ ثبت شود</span><i class=" icofont-00x icofont-check"></i></button>
                        </div>

                    </form>
                    <script>
                        SetValueSimpl('Update_AccountBed','@Model.RowData["AccountBed"]','Update_AccountBes','@Model.RowData["AccountBes"]');
                    </script>

                }
            </div>
        </section>
        <script>
            ControlPersianDate('DateAction');
        </script>

        break;

    case "RepListPardakht":
        <div class="d-flex flex-wrap justify-content-between">
            <div class="Area_Count w-fix-200">
                <span>تعداد : </span><span>@Model.ListData.Rows.Count </span>
            </div>
        </div>

        <div class="header_Table">
            <button type="button" class="btn_Icon footer_Right Icon_Red icofont-00x icofont-curved-double-right" title="اسکرول به راست" onclick="ScrollRight('@ViewData["Switch"]_FT');"></button>
            <button type="button" class="btn_Icon footer_Left Icon_Red icofont-00x icofont-curved-double-left" title="اسکرول به چپ" onclick="ScrollLeft('@ViewData["Switch"]_FT');"></button>
            <div id="@ViewData["Switch"]_FT" class="overflow-hidden" onscroll="ScrollSlave(this, '@ViewData["Switch"]_MS');">
                <table class="table grid-table">
                    <thead>
                        <tr>
                            <th><span>#</span></th>
                            <th><span class="w-fix-100">تاریخ</span></th>
                            <th><span class="w-fix-90">شماره سند</span></th>
                            <th><span class="w-fix-50">مشاهده</span></th>
                            <th><span class="w-fix-50">ویرایش</span></th>
                            <th><span class="w-fix-200">جمع بستانکار</span></th>
                            <th><span class="w-fix-200">جمع بدهکار</span></th>
                            <th><span class="w-fix-350">شرح</span></th>
                            <th><span class="w-fix-150">وضعیت</span></th>
                            <th><span class="w-fix-200">زمان ثبت</span></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
        <div class="overflow-auto" id="@ViewData["Switch"]_MS" onscroll="ScrollSlave(this, '@ViewData["Switch"]_FT');">
            <table class="table grid-table">
                <thead class="header_Tablehiden">
                    <tr>
                        <th><span>#</span></th>
                        <th><span class="w-fix-100">تاریخ</span></th>
                        <th><span class="w-fix-90">شماره سند</span></th>
                        <th><span class="w-fix-50">مشاهده</span></th>
                        <th><span class="w-fix-50">ویرایش</span></th>
                        <th><span class="w-fix-200">جمع بستانکار</span></th>
                        <th><span class="w-fix-200">جمع بدهکار</span></th>
                        <th><span class="w-fix-350">شرح</span></th>
                        <th><span class="w-fix-150">وضعیت</span></th>
                        <th><span class="w-fix-200">زمان ثبت</span></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (DataRow item in Model.ListData.Rows)
                    {
                        { RJ++; }
                        <tr onclick="RowSelect(this);">
                            <td class="text-danger">@RJ</td>
                            <td><span class="w-fixC-100">@item["EventDate"]</span></td>
                            <td><span class="w-fixC-90">@item["FinancialNum"]</span></td>
                            <td>
                                <button type="button" class="btn_Icon Icon_Mor icofont-2x icofont-search-2" title="مشاهده" onclick="ClickBtnSimpl('ListEventItemsBtn', '@item["FinancialEventId"]');"></button>
                            </td>
                            <td>
                                <button type="button" class="btn_Icon Icon_Mor icofont-2x icofont-edit" title="ویرایش" onclick="ClickBtnSimpl('FormSabttPardakhtBtn', '@item["FinancialEventId"]');"></button>
                            </td>
                            <td><span class="w-fixC-200">@Html.Raw(@item["Bes"].ToMonySymbol())</span></td>
                            <td><span class="w-fixC-200">@Html.Raw(@item["Bed"].ToMonySymbol())</span></td>
                            <td><span class="w-fixC-350">@item["Sharh"]</span></td>
                            <td><span class="w-fixC-150">@item["SitTitle"]</span></td>

                            <td><span class="w-fixC-200 text-start"><span>@item["EditorName"]</span><span class="text_line23">@item["TimeEdit"]</span></span></td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>

        break;

}