@using System.Web;
@using System.Data;
@model Aparteman.Models.LayoutDataModel
@{
    Layout = null;
}



<header class="text-white px-2 ">
    <div class="d-flex justify-content-between pt-3">
        <div class="d-flex">
            <button type="button" class="btn_Icon Icon_Brown icofont-2x icofont-listine-dots icofont-rotate-180" data-bs-toggle="tooltip" data-bs-title="منو" onclick="MenuToggel();"></button>
            @if (Model.listNewMsg.Rows.Count != 0)
            {
                <span onmouseenter="Rotate(this,'Z');" onclick="$('#waitbody').css('display', 'flex'); GoToUrl('/Other/MsgCenter');" class="ms-2 mt-3 cursor-pointer">
                    <span class="text-warning icofont-2x icofont-alarm"></span>@Model.listNewMsg.Rows.Count
                </span>
            }
        </div>
        <div class="text-warning">
            <h5>@Model.formSetup.Title</h5>
        </div>
        <div class="">
            <a class="font-16" asp-area="" asp-page="/Home">
                <span class="cursor-pointer" style="font-family: DastNevis; color:orangered">آپارتمان من</span>
            </a>
            <a class=" text-white text_line22" style="font-family: DastNevis;" asp-page="/Other/Profile">سلام @Model.formSetup.UserName <span class="icofont icofont-simple-smile text-warning"></span></a>
        </div>
    </div>
</header>

<div>
    <div id="MenuArea" class="menu text-start pb-5 text-white">
        <div class="p-1">
            @if (@Model.formSetup.Title == "Home")
            {
                <a href="/Home" class="mt-4 bg-info" onclick="MenuItemClick(this);"><h6><span class="text-warning icofont-1x icofont-home mx-2"></span>خانه</h6></a>
            }
            else
            {
                <a href="/Home" class="mt-4 menu-ItemPre" onclick="MenuItemClick(this);"><h6><span class="text-warning icofont-1x icofont-home mx-2"></span>خانه</h6></a>
            }

            <div class="text-end mb-5 px-2">
                <a href="/Login" onclick="MenuItemClick(this);" class="menu-ItemPre"><h6 class="text-danger"><span class="text-warning icofont-1x icofont-logout mx-2"></span>خروج</h6></a>
            </div>
        </div>
    </div>

    <div id="MainArea" class="mainArea pr_180">
        <main class="main">
            @if (@Model.formSetup.Header != "")
            {
                <div class="m-1 alert alert-primary ">@Html.Raw(HttpUtility.HtmlDecode(@Model.formSetup.Header))</div>
            }
            @if (@Model.listYadavar.Rows.Count != 0)
            {
                <div class="d-flex flex-wrap justify-content-center">
                    @foreach (DataRow Yad in Model.listYadavar.Rows)
                    {
                        <div class="alert alert-danger w-lim-150-250 m-2" id="AreaYadavar_@Yad["Si"]">
                            <div class="d-flex justify-content-between">
                                <h6 class="mx-2">یادآور</h6>
                                <div class="ltr"><button type="button" class="btn_Icon Icon_Red icofont-1x icofont-close" data-bs-toggle="tooltip" data-bs-title="بسته شود" onclick="AreaHide('AreaYadavar_@Yad["Si"]');"></button>@Yad["DateYadavar"] - @Yad["TimeYadavar"]</div>
                            </div>
                            <hr />
                            <h5 class="text-primary">@Yad["Matn"]</h5>
                        </div>
                    }
                </div>
            }
            @RenderBody()
            <div class="help" id="HelpArea"></div>
        </main>
    </div>

</div>
<div class="border-top footer text-muted">
    <div id="FooterArea" class="footerArea pr_180">
        @if (@Model.formSetup.Footer != "")
        {
            <div class="m-1 alert alert-secondary">@Html.Raw(HttpUtility.HtmlDecode(@Model.formSetup.Footer))</div>
        }
        <div class="container">
            <img src="~/images/logo-96.png" class="w-fix-50" /> آپارتمان من --> امروز: @DateTime.Today.ToString("D").Replace("Sunday", "یکشنبه").Replace("Monday", "دوشنبه").Replace("Tuesday", "سه شنبه").Replace("Wednesday", "چهارشنبه").Replace("Thursday", "پنجشنبه").Replace("Friday", "جمعه").Replace("Saturday", "شنبه") --> @Model.formSetup.Today
        </div>
    </div>
</div>
